.main-zanzi {
  width: 445px;
  position: absolute;
  left: 50%;
  right: auto;
  z-index: 100;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 81px;

  @media (max-width: 980px) {
    width: 40%;
  }
  @media (max-width: 824) {
    width: 60%;
  }
  @media (max-width: 612px) {
    width: 80%;
  }
}
.main-title {
  font-family: 'Oswald', sans-serif;
  color: white;
  background-color: rgba(251, 93, 0, 0.7);
  display: inline-block;
  position: absolute;
  font-size: 54px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 391px;
  @media (max-width: 980px) {
    font-size: 34px;
    top: 361px;
  }
  @media (max-width: 410px) {
    font-size: 34px;
    top: 300px;
    text-align: center;
  }
}
.main-subtitle {
  font-family: 'Oswald', sans-serif;
  color: black;
  display: inline-block;
  position: absolute;
  font-size: 64px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 481px;
  font-size: 45px;
  width: 636px;
  text-align: center;
  @media (max-width: 980px) {
    font-size: 30px;
    top: 451px;
    width: 90%;
  }
  @media (max-width: 400px) {
    font-size: 30px;
    top: 400px;
    text-align: center;
  }
}
